version: '3.8'

services:
  users-service:
    build: ./users-service
    container_name: users-service
    ports:
      - "8081:8081"

  bookings-service:
    build: ./bookings-service
    container_name: bookings-service

  payments-service:
    build: ./payments-service
    container_name: payments-service
    ports:
      - "8083:8083"

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8082:8082"
    depends_on:
      - users-service
      - bookings-service
      - payments-service
